<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="text-center bg-white shadow-xl p-8 rounded-lg w-full md:w-1/2">
    <h5 class="text-3xl font-bold text-indigo-700 mb-4">お問い合わせありがとうございました。</h5>
    <p class="lead text-gray-700 mb-6">お問い合わせ内容を確認次第、担当者よりご連絡いたします。</p>
    
    <!-- トップページに戻るボタン -->
    <%= link_to 'トップページに戻る', root_path, class: "w-full py-3 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 transition-all duration-200 ease-in-out transform hover:scale-105" %>
  </div>
</div>
