<!-- Googleフォームの埋め込み部分を中央寄せで表示 -->
<div class="flex justify-center mt-3 md:mt-5 mb-12" style="background-color: #E6E6FA;">
  <!-- Googleフォームのiframeを埋め込み表示
       - width: フォームの横幅を指定（PC用に640px）
       - height: フォーム全体の高さ（内容に応じて調整可）
       - frameborder, marginheight, marginwidth: iframeの装飾をなくすために指定
       - 「読み込んでいます…」は、iframeが非対応ブラウザのフォールバック表示 -->
       <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSczuIGfFQdqwu1XjHTDWn2QBViFn5t0_8AJRdOlzN2j23B-nA/viewform?embedded=true" width="640" height="1222" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>
