<% if resource.errors.any? %>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded">
    <h2 class="font-bold"><%= pluralize(resource.errors.count, "エラーメッセージ") %> </h2>
    <ul class="mt-2">
      <% resource.errors.full_messages.each do |message| %>
        <li class="ml-4 list-disc"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
