<div class="top">
  <div class="top-inner-text">
    <h1>Program-Routin-Mate</h1>
  </div>
</div>

<div class="d-flex justify-content-start mt-3">
  <%= link_to "新規登録", new_user_registration_path, class: "fs-6 text-decoration-none text-info" %>
</div>
</br>
<div class="d-flex justify-content-start mt-3 fixed-bottom-end">
  <%= link_to "ログイン", new_user_session_path, class: "fs-6 text-decoration-none text-info" %>
</div>
<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete, confirm: "ログアウトしますか？" } %>
<% end %>
