<div class="flex justify-center items-center min-h-screen bg-white">
  <div class="w-full h-screen">
    <%= image_tag 'ogp.png', alt: 'Program Routine Mate', class: 'w-full h-full object-cover' %>
  </div>
</div>
