<footer class="bg-blue-600 py-4 mt-auto flex justify-between items-center px-4">
  <!-- æŠ•ç¨¿ç”»é¢ã«é·ç§» -->
  <div class="flex-1 text-center">
    <%= link_to "ðŸ“", new_study_log_path, class: "btn btn-light btn-lg" %>
  </div>

  <!-- æŠ•ç¨¿ä¸€è¦§ç”»é¢ã«é·ç§» -->
  <div class="flex justify-end">
    <%= link_to study_logs_path do %>
      <%= image_tag "study_logs_list.png", alt: "ãƒˆãƒƒãƒ—ãƒšãƒ¼ã‚¸ã¸", class: "w-16 h-16 rounded-full shadow-md hover:shadow-lg transition" %>
    <% end %>
  </div>
</footer>
