<%= turbo_frame_tag "like-count-#{study_log.id}" do %>
  <div class="flex items-center gap-2 text-gray-700 text-lg mt-4">
    <span class="text-xl">👍</span>
    <!-- 「👍」アイコンを表示 -->
    <span><%= study_log.likes.count %></span>
    <!-- 現在の学習ログ（@study_log）に関連する「いいね」の数を表示します。
         `study_log.likes.count`で、関連付けられた「いいね」の数をカウントし、その値を表示します。 -->
  </div>
<% end %>
