<div class="row mb-3" id="learning_comment-form">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: learning_comment, url: study_log_learning_comments_path(study_log) do |form| %>
      <%= form.label :text, "コメント" %>
      <%= form.text_area :text, class: "form-control mb-3", row: "4" %>
      <%= form.submit nil, class: "btn btn-primary" %>
    <% end %>
  </div>