@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rounded-button {
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.top {
  background-image: url('Program-Routin-Mate.png');
  height: calc(100vh - 134px);
  background-position: center;

  .top-inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 10rem;
    color: RED;
  }
}

.fixed-bottom-end {
  position: fixed;
  top: 900px;
  right: 20px; /* 右から20pxの位置に配置 */
}
