@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control {
  border: 5px solid #f06c08ed;
  border-radius: 5px;
}

.rounded-button {
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.fixed-bottom-end {
  position: fixed;
  top: 900px;
  right: 20px; /* 右から20pxの位置に配置 */
}
