@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rounded-button {
  border-radius: 50px;
  width: 70px;
  height: 70px;
}
